<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Add Location Confirmation</title>
</head>
<body>
    <header th:insert="mainHeader.html"></header>

    <h1>Add Location Confirmation</h1>
    <ul>
        <li><p th:text="${location.locationName}"></p></li>
        <li><p th:text="${location.locationAddress1}"></p></li>
        <li><p th:text="${location.locationAddress2}"></p></li>
        <li><p th:text="${location.locationCity}"></p></li>
        <li><p th:text="${location.locationStateAbbr}"></p></li>
        <li><p th:text="${location.locationZipCode}"></p></li>
    </ul>
    <a class="btn btn-primary add-btn-right" th:href="@{locations}" role="button">Continue</a>
</body>
</html>